body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

.container{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: antiquewhite;
}

div button{
    font-size: 18px;
    padding: 5px 20px;
    background-color: rgb(52, 69, 251);
    border: 2px;
    border-radius: 5px ;
}